# Dependencies
node_modules/
.pnpm-store/

# Build outputs
dist/
.next/
.turbo/
out/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Testing
coverage/

# Docker volumes (local dev)
postgres_data/
redis_data/
meili_data/
minio_data/
grafana_data/

# Misc
*.tsbuildinfo
.eslintcache

# Local Netlify folder
.netlify
